.close {
  cursor: pointer;
}

.closeBlockWatch {
  position: fixed;
  margin-left: 1040px;
  margin-top: -122px;
}

.closeBlockCreate {
  position: fixed;
  margin-left: 909px;
  margin-top: -36px;
}