.header {
  max-width: 1505px;
  background: #d7dcfb;
  border-radius: 25px;
  padding: 28px 41px;
  margin: 0 auto;
  grid-template-areas: "hight" "low";
  gap: 10px;
  margin-bottom: 23px;
}

.hightSearch {
  display: flex;
  margin-bottom: 18px;
  gap: 16px;
}

.lowSearch {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header input {
  background: #ffffff;
  border-radius: 15px;
  padding: 19px 16px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #848cc8;
}

.header input:focus {
  outline: none;
}

.header input::-webkit-input-placeholder {
  color: #aab0dc;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.subInputs {
  display: flex;
  gap: 11px;
}

.subInputs .inputBlock {
  padding: 7px 16px 10px;
}

.subInputs .intervalCost {
  max-width: 159px;
  padding: 0;
}

.subInputs .intervalDate {
  max-width: 121px;
  padding: 0;
}

.geo {
  max-width: 206px;
}

.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customCheckbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.customCheckbox + label::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  border-radius: 6.63461px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.customCheckbox:checked + label::before {
  background-color: white;
  background-image: url("../../../assets/icons/check.svg");
}

.checkbox {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #848cc8;
}

.firstBtn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3348de;
  width: 97px;
}

.secondBtn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #3348de;
  border-radius: 15px;
  padding: 16px 23px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.lSFinput,
.geo {
  width: 206px;
}

.lSSinput {
  width: 253px;
}

.buttons {
  margin-left: 30px;
}

.headerinput {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #aab0dc;
}

.inputBlock {
  background: #ffffff;
  border-radius: 16.7734px;
  padding: 7px 16px 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
