.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}

.contentWatch {
  position: relative;
  padding: 140px 147px 92px 147px;
  background: #e0e3fb;
  border-radius: 30px;
  max-height: 95vh;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 600px;
  width: 1231px;
}

.contentWatch::-webkit-scrollbar {
  width: 0;
}

.contentCreate {
  position: relative;
  padding: 53px 280px 141px;
  background: #e0e3fb;
  border-radius: 30px;
  max-height: 95vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 1231px;
}

.contentCreate::-webkit-scrollbar {
  width: 0;
}