.header {
  display: contents;
  background: #d7dcfb;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  padding: 25px 41px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #848cc8;
}

.header th:first-child {
  border-radius: 25px 0 0px 0px;
  text-align: center;
}

.header th:last-child {
  border-radius: 0 25px 0px 0px;
}

.main {
  display: grid;
  border-collapse: collapse;
  grid-template-columns:
    minmax(50px, 1fr)
    minmax(50px, 1fr)
    minmax(100px, 1fr)
    minmax(100px, 1.67fr)
    minmax(100px, 1.8fr)
    minmax(100px, 1.67fr)
    minmax(144px, 1.67fr)
    minmax(85px, 1fr)
    minmax(236px, 3.2fr)
    minmax(100px, 1.3fr)
    minmax(100px, 1.7fr);
  width: 1505px;
  margin: 0 auto;
  background: #e0e3fb;
  border-radius: 25px;
}

.listItems {
  display: contents;
}

.mainBlock {
  min-height: 72%;
  max-height: 871px;
  background: #e0e3fb;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}

.mainBlock::-webkit-scrollbar {
  height: 6px;
  width: 0;
}

.mainBlock::-webkit-scrollbar-thumb {
  height: 6px;
  background: #3348de;
  border-radius: 100px;
}

.mainBlock::-webkit-scrollbar-track {
  margin-left: 15px;
  margin-right: 15px;
}

.scrollBlock {
  border-radius: 25px;
}